.KnowledgesContent{
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 38% 1fr 1fr;
    grid-template-rows:  80% 80%;
    grid-template-areas: 
    "L E E"
    "O O H";
}
.LanguagesFramework, .OtherSkills { 
   background-color: cornflowerblue;
   border-radius: 10px;
   padding: 0.8rem;
   margin-top: 2%;
}

h3{
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
}

.LanguagesFramework{
    grid-area: L;
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "L"
    "F";
    margin-left: 1%;
    margin-right: 2%;
}
.languagesDisplay {
    grid-area: L;
    text-align: left;
}

.FrameworkDisplay{
    grid-area: F;
}
.test{
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}
/* .languagesDisplay.span {
    width: 100%;
}

.languagesDisplay.span:nth-child(2){
    text-align: left;
    width:16%;
}
.languagesDisplay.span:nth-child(6){
    text-align: right;
    width: 16%;
} */
.languagesDisplay.span:nth-child(2):before,
.languagesDisplay.span:nth-child(6)::before {
    content: '';
    background-color: white;
    position: absolute;
    height: 146px;
    width: 1px;
    transform: translate(9px, 19px);
}

.LanguagesList{
    padding-top: 0.5rem;
}

.li-LanguageFramework {
    color: aqua;
    text-align: left;
    font-weight:bold
}

.progressBar {
    height: 0.4rem;
    background:  transparent;
    border-radius: 50px;
    margin-top:  0.2rem;
    position: relative;
}
.progressBar:after {
    content: '';
    background: blue ;
    border-radius:50px;
    position: absolute;
    height: 0.4rem;
    width:100%;

}
.OtherSkills{
    grid-area: E;
    margin-right: 1%;
    margin-left: 2%;
}
